# Reemplaza por una clave larga y unica
APP_JWT_SECRET=mi-secreto-super-largo

# Duracion del token en dias
APP_TOKEN_DAYS=30

# Usuarios iniciales del sistema (JSON en una linea)
# Roles disponibles: admin, editor, viewer
APP_USERS_JSON=[{"username":"Jiovanny","password":"M3g@JMdev","displayName":"Tu","role":"admin"},{"username":"Ibeth","password":"IbeJio2026","displayName":"Ibeth","role":"viewer"}]

# Configuracion opcional para el build estatico que abras con Live Server
# Debe empezar con VITE_ para quedar disponible en el frontend
VITE_FORCE_LOCAL_API=true
VITE_LOCAL_USERS_JSON=[{"username":"Jiovanny","password":"M3g@JMdev","displayName":"Tu","role":"admin"},{"username":"Ibeth","password":"IbeJio2026","displayName":"Ibeth","role":"viewer"}]
